importFrom(GSEABase, geneIds)
importFrom(GSEABase, getGmt)
importFrom(GSEABase, setName)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach)
importFrom(mlr, makeClassifTask)
importFrom(mlr, normalizeFeatures)
importFrom(mlr, makeLearner)
importFrom(mlr, makeResampleDesc)
importFrom(mlr, resample)
importFrom(mlr, auc)
importFrom(mlr, ppv)
importFrom(edgeR, DGEList)
importFrom(edgeR, calcNormFactors)
importFrom(limma, voom)
export(GSOA_ProcessFiles)
export(GSOA)
